.menu-container {
  position: absolute;
  z-index: 2;


  width: 28vw;
  margin-left: 70vw;
  margin-top: 1vh;
  border-radius: 1vh;
  padding: 1vh;
  max-height: 94vh;

  display: inline-block;
  overflow: auto;
  

  background-color: white;
}

