nav {
    background-color: black;
    margin-top: -1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.nav-item {
    width: 100px;
    display: inline;
    margin: 20px;
}

nav a {
    color: gray;
    text-decoration: none;
}

nav a.active {
    color: white;
    text-decoration: none;
}

#nav-logout {
    color: gray;
    text-decoration: none;
}