nav {
    /* background-color: black; */
    margin-top: -3vh;
    margin-left: -3vw;
    /* z-index: 3; */
}

.nav-item {
    /* width: 10vh; */
    display: inline-block;
    margin-left: 2vh;
}

nav a {
    color: gray;
    text-decoration: none;
}

nav a.active {
    color: black;
    text-decoration: none;
}

#nav-logout {
    color: gray;
    text-decoration: none;
}
