nav {
    background-color: black;
    margin-top: 0;
}

.nav-item {
    /* width: 10vh; */
    display: inline;
    margin-left: 10vh;
}

nav a {
    color: gray;
    text-decoration: none;
}

nav a.active {
    color: white;
    text-decoration: none;
}

#nav-logout {
    color: gray;
    text-decoration: none;
}