.alert-card {
    position: absolute;
    z-index: 2 !important;
    /* margin-top: 1vh; */
    margin-left: 68vw;
    height: 15vh;
    width: 30vw;
    border-radius: 1vh;
    padding: 1vh;

    /* background-color: white; */
    background-color: black;
    /* text-align: center; */
    color: white;

}

.display-map {
    z-index: 1 !important;
}